$primary: #828ecc;
//$primary: #ee1c29;
$secondary: #9391c0;

$white: #ffffff;
$black: #171719;
$gray-1: #f5f6fa;
$gray-2: #dcdde3;
$gray-3: #93959d;
$gray-4: #535357;
$gray-5: #292d32;
$red: #ee1c29;
$sky-blue: #e4e6f3;

$error: $red;
$text-field-bg: #f5f5fa;
$error-text: $red;

$gradient-1: linear-gradient(90deg, rgba(130, 142, 204, 0.2) 0%, rgba(130, 142, 204, 0) 100%);
$gradient-2: linear-gradient(344.16deg, #828ecc 0%, rgba(130, 142, 204, 0) 94.36%);
$gradient-3: linear-gradient(138.63deg, rgba(130, 142, 204, 0.15) 26.98%, rgba(198, 196, 241, 0.15) 100%);
$gradient-4: linear-gradient(138.63deg, #828ecc 26.98%, #c6c4f1 100%);

$custom-scroll-color: #2d2d93;
$icon-disabled: #dadada;
$input-disabled-border-color: #5353571a;

$spinner-color: rgba(238, 28, 41, 0.5);

// calendar
$calendar-selected-day-color: rgba(255, 0, 0, 0.8);

// landing
// $l 1: #828ECC;
$l-2_gradient: linear-gradient(138.63deg, #828ecc 26.98%, rgba(210, 209, 232, 0.85) 100%);

$l-3_gradient: linear-gradient(224.37deg, #ee1c29 14.47%, #cd1a26 85.31%);
$l_4_purple: #f5f6fa;
$l_3_black: #171719;
// $l 6: #DCDDE3;
// $l 7: #EE1C29;
$l_8_white: #ffffff;
