.wrapper {
  > p {
    font-size: 16px;
  }

  h3 {
    margin: 40px 0;
  }
  .images {
    display: flex;
    flex-wrap: wrap;

    img {
      max-height: 200px;
    }
  }

  img {
    max-height: 200px;
    display: inline-block;
  }

  .buttons {
    margin-top: 25px;
    display: flex;

    > :nth-child(1) {
      margin-right: 20px;
    }
  }

  @media (max-width: 480px) {
    .images {
      display: block;
      img {
        margin: 10px auto;
        display: block;
      }
    }
    .buttons {
      display: block;
    }
  }
}
