@import '../../../../styles/variables/grid';
@import '../../../../styles/variables/common';

.StepCredentials {
  .RegistrationCheckbox {
    label {
      height: auto;

      span:after {
        transform: translateY(-30%);
        top: 50%;
      }
    }

    div {
      flex: 1;
      word-break: break-word;
    }
  }

  @media #{$breakpoint-sm-up} {
    margin: 0 auto;
    width: 650px;
  }
}

.actions {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: $grid-gap;

  margin-bottom: 1rem;

  @media #{$breakpoint-lg-up} {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(#{$grid-gap} * 2);
  }

  span {
    text-align: center;
  }
}

.withDivider {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;

  &:before,
  &:after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }

  &:before {
    margin-right: 10px;
  }

  &:after {
    margin-left: 10px;
  }
}
