@import '../../../../styles/variables/grid';

.StepPrivateData {
  @media #{$breakpoint-sm-up} {
    margin: 0 auto;
    width: 650px;
  }

  h3 {
    margin-bottom: 0.5rem;
    padding-left: 30px;
  }
}
